.search-container {
  width: 100%;
  position: relative;
  background: #142850;
  height: 8vh;
}

#searchBar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-row input {
  height: 30px;
  margin: 0;
  padding: 0 0 0 7px;
  border-radius: 0.6em;
  border: 1px solid #27496d;
  background: transparent;
  color: white;
  font-size: 14px;
}

.form-row input::placeholder {
  color: white;
  font-size: 14px;
}

.form-row input:focus {
  background: #27496d;
}

.form-row {
  width: 15%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translate(0%, -50%);
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  flex: 2;
  padding: 0 10px;
}

.input-wrapper:first-child {
  padding-left: 0;
}

.input-wrapper:last-child {
  padding-right: 0;
  flex: 1;
}

/* */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
