.moviesContainer {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.movieLinkContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 30%;
  min-width: 30%;
  min-height: 20vh;
  text-decoration: none;
  margin: 45px 15px;
  color: white;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
}

.posterStyle {
  width: 95%;
  max-height: 95%;
}

.movieLinkContainer h3 {
  font-size: 16px;
  letter-spacing: 2px;
  margin-right: 15px;
  margin-left: 10px;
}

.movieInfo {
  background: #0c7b93;
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5%;
  overflow-y: hidden;
  z-index: 3;
}

.overview {
  height: 50%;
  width: 95%;
  background-color: white;
  color: black;
  padding: 10px;
  position: absolute;
  top: 100%;
}

.movieLinkContainer:hover .overview {
  transition: 0.4s all ease-in;
  top: 60%;
}

.rating {
  border-radius: 0.4rem;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  vertical-align: middle;
  background: #142850;
  border: 1px solid #142850;
  color: #ffd868;
  margin-right: 10px;
}
